# Maven / Gradle build output
target/
build/

# Spring Boot
src/main/resources/application.properties

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE folders and files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Eclipse files
.classpath
.project
.settings/

# Java class files
*.class

# Temporary files
*.tmp
*.temp

# Maven Wrapper files 
.mvn/wrapper/maven-wrapper.jar